*{
    margin: 0px;
    padding: 0px;
}
html {
    height: 100vh;
}
body {
    width: 100%;
    height: 100vh;
    background-image: url(image1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0px;
    
}
.dark {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.267);
}
.container{
    position: relative;
    width: 30%;
    min-width: 200px;
    /* height: 100vh;   */
    margin:50px auto;
    color: aliceblue;
}
h1 {
    text-align: center;
    padding: 40px 0px;
}
form{
    width: 100%;
    display: flex;  
    flex-direction: column;
    margin: 20px 0px;
}
/* label{ */
    /* text-align: center; */
/* } */
.form-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

select{
    width: 40%;
    height: 25px;
    font-size: 1rem;
    font-weight: 500;
    margin: 20px 0px;
    background-color: aqua;
}
.get-jokes {
    width: 30%;
    height: 23px;
    font-weight: 600;
    margin: auto;
}
.get-jokes:hover {
    background-color: rgb(194, 241, 124);
}
ul{
    color: rgb(194, 241, 124)
}
footer{
    width: 100%;
    position: relative;
    left: auto;
    right: auto;
    bottom: 0;
    text-align: center;
    /* border: 2px solid red; */
    color: aliceblue;
    font-size: 1rem;
    padding: 10px 0px;
}